/* 
  FONSTS 
*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../assets/fonts/roboto-v29-latin-300.woff2') format('woff2'),
       url('../assets/fonts/roboto-v29-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/roboto-v29-latin-regular.woff2') format('woff2'),
       url('../assets/fonts/roboto-v29-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../assets/fonts/roboto-v29-latin-500.woff2') format('woff2'),
       url('../assets/fonts/roboto-v29-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../assets/fonts/roboto-v29-latin-700.woff2') format('woff2'),
       url('../assets/fonts/roboto-v29-latin-700.woff') format('woff');
}
/* 
  Default styles
*/
html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/img/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}
body::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}
.container{
  /* width: 400px; */
  /* height: 500px; */
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
}